*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1680px;
  margin: 0 auto;
  font-family: var(--poppins), sans-serif;
}

#root button {
  font-family: var(--poppins), sans-serif;
  cursor: pointer;
}

body {
  transition: all 0.4s ease;
  background-color: #f7fafc;
}

body.light-mode {

  color: #000000;
}

/* Dark Theme Styles */
body.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}
/* Navbar Styles */
.navbar__container {
  padding: .8rem 1rem;
  /*backdrop-filter: blur(20px);*/
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}


.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__items header a {
  text-decoration: none;
  color: rgb(0, 195, 255);
}

.nav__items header .logo {
  font-family: var(--logo-font), sans-serif;
  font-size: 2.5rem;
}

.nav__items ul {
  list-style: none;
  margin-left: 2rem;
}

.nav__items ul li {
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
}

.nav__items ul li a {
  text-decoration: none;
  color: black;
}

.navbar.dark-mode .nav__items ul li a {
  color: rgba(255, 255, 255, 0.97);
}

.nav__items ul li::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10%;
  width: 100%;
  height: 2px;
  background-color: var(--peach-1);
  transform: scaleX(0);
  transition: all 300ms ease-in-out;
}

.nav__items ul li:hover::before {
  transform: scaleX(1);
}
.nav__items ul li:active::before {
  transform: scaleX(1);
}

.nav__items ul li a:hover {
  color: var(--gray);
}

.navbar .btns {
  display: flex;
  gap: 1.5rem;
}

.navbar.dark-mode .btns .theme-toggle {
  filter: invert(1);
}

.navbar .btns .subs__btn {
  border: none;
  background-color: var(--peach-1);
  color: white;
  font-weight: bold;
  padding: .8rem 1.4rem;
  font-size: 15px;
  border-radius: 10px;
  text-transform: uppercase;
}
.navbar .btns .subs__btn:hover {
  background-color: var(--peach-2);
}

.btns a:hover  {
  color: rgba(0, 0, 0, 0.42);
}

.btns a .subs__btn  {
  text-decoration: none;
  color: black;

}

.btns.dark-mode a  {
  color: rgba(255, 255, 255, 0.78);
  transition: all 300ms ease-in-out;
}

.btns.dark-mode .subs__btn:hover {
  background-color: rgb(0, 221, 255);
  color: white;
}

.btns .theme {
  padding: .7rem 1.4rem;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

.btns .theme-toggle {
  cursor: pointer;
}


/*mobile navbar*/

.navbar-menu {
  display: none;
  transition: all 0.4s ease;

}

.navbar-menu header a {
  text-decoration: none;
  color: rgb(0, 195, 255);
  font-size: 1.3rem;
}

.navbar-menu > img {
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.navbar-menu .menu {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.67);
  backdrop-filter: blur(25px);
}

.navbar-menu .menu ul li a {
  text-decoration: none;
  color: black;
}

.navbar-menu.dark-mode .menu ul li a {
  color: rgba(255, 255, 255, 0.96);
}

.navbar-menu .menu.open {
  animation: slideIn .5s ease-in-out;
}

.navbar-menu .menu.close {
  animation: slideOut .5s ease-in-out;
}


.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 2.5rem;
}

.menu ul li {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--logo-font);
}

.menu > img {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 45px;
  cursor: pointer;
}

.menu .btns a {
  color: white;
}

.menu .sub__btn {
  margin-left: 2.5rem;
  padding: .8rem 1.2rem;
  border-radius: 4px;
  border: none;
  background-color: var(--peach-1);
  font-size: 1rem;
  color: black;
  letter-spacing: 1px;
  font-weight: bold;

}

.menu-logos {
  display: flex;
  gap: 1.2rem;
}
.menu-logos img {
  cursor: pointer;
}

/*dark mode changes */

.navbar-menu.dark-mode img {
  filter: invert(1);
}

.navbar-menu.dark-mode .menu {
  background-color: rgba(32, 33, 45, 0.28);
  backdrop-filter: blur(20px);
}

@media screen and (max-width: 786px) {
  nav.navbar {
    display: none;
  }
  .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-menu header h1 {
    font-size: 2.4rem;
    font-family: var(--logo-font), sans-serif;
  }
}

